* {
  box-sizing: border-box;
  
}

.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h4 {
  color:#b8b8b8;
}